.bienvenido{
    width: 500px;
    height: 500px;
    background-image: url('/img/Bienvenido.png'); /* Ruta de la imagen de textura */
    background-size: cover;
  background-repeat: repeat; /* Para repetir la imagen si es necesario */

}

.containerLogo{    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
    height: 70vh;
}
.positionBienvenida{
    display: flex;
    justify-items: center;
    height: 388px;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    margin: 0px;
}
.h1Estilo{
    font-size: 2.5rem;
    margin: 0px;
   
}
.h1Estilo2{
    font-size: 2.5rem;
    margin: 0px;
    text-transform: uppercase; 
    color: #3B4C92;
}